@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Esse site foi construido Visual Studio 2019 utilizando <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a>.</p>
    <p>Os dados site são armazenados no <a href="https://azure.microsoft.com/en-us/services/sql-database/" target="_blank">Azure SQL Server</a>.</p>
</div>
