@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    O <b>site</b> garante a privacidade e a segurança de seus clientes durante toda a navegação do site. Os dados cadastrados são armazenados em nosso banco de dados com o objetivo de melhorar o nosso relacionamento por meio de e-mail, mala direta e outras possíveis formas de interação. Durante todo o processo, suas informações são mantidas em sigilo absoluto.
</p>
<p>
    Para sua segurança, não aconselhamos a divulgação de sua senha no <b>site</b> a terceiros.
</p>
